* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightsteelblue;
}

svg {
  background-color: #eee;
  display: grid;
  margin: 40px auto;
  opacity: 0.9;
}

#title {
  text-align: center;
  margin-top: 10px;
  color: #eee;
}

.tooltip {
  position: absolute;
  background: lightsteelblue;	
  padding: 5px;
  border-radius: 5px;
}